*{
    margin: 0;
    padding: 0;
}

body{
    font-family: poppins;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 600px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    box-shadow: 1px 2px 4px rgb(56, 56, 56);
}

img{
    width: 400px;
    margin-left: 70px;
}

h2{
    margin-top: 10px;
    font-size: 37px;
    font-weight: 500;
    margin-left: 70px;
}

.user-inputs{
    height: 400px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 0;
}

label{
    font-size: 15px;
    font-weight: 500;
    margin-top: 0px;
}

input{
    height: 30px;
    border: none;
    margin-left: 20px;
    width: 250px;
    box-shadow: 1px 2px 4px rgb(56, 56, 56);
    outline: none;
    font-size: 15px;
    font-family: poppins;
    padding-left: 10px;
}

button{
    width: 100px;
    padding: 10px;
    background-color: rgb(3, 3, 146);
    color: white;
    font-family: poppins;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 0;
    margin-left: 190px;
}

.user-inputs div{
    margin: 0;
} 